{%- block doctype -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%- endblock %}
{%- set reldelim1 = reldelim1 is not defined and ' &raquo;' or reldelim1 %}
{%- set reldelim2 = reldelim2 is not defined and ' |' or reldelim2 %}
{%- macro relbar() %}
    <div class="related">
    
          {%- block sidebarsearch %}
          {%- if pagename != "search" %}
            <!-- <h3>[[ builder == 'web' and 'Keyword' or 'Quick' ]] search</h3> -->
        <div class="toprightsearch" style="float:right; position: relative; top: 30px">
            <form class="search" action="{{ pathto('search') }}" method="get">
              <input type="text" name="q" size="18" /> <input type="submit" value="Search" />
              <input type="hidden" name="check_keywords" value="yes" />
              <input type="hidden" name="area" value="default" />
            </form>
        </div>

            {%- if builder == 'web' %}
            <p style="font-size: 90%">Enter a module, class or function name.</p>
            {%- endif %}
          {%- endif %}
          {%- endblock %}

      <!-- <h3>Navigation</h3> -->
      <ul>
        {%- for rellink in rellinks[:2]*0 %}
        <li class="right" {% if loop.first %}style="margin-right: 10px"{% endif %}>
          <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags }}"
             accesskey="{{ rellink[2] }}">{{ rellink[3] }}</a>
          {%- if not loop.first %}{{ reldelim2 }}{% endif %}</li>
        {%- endfor %}

        {%- block rootrellink %}
        <li><a href="{{ pathto('index') }}"><img class="logo" src="{{ pathto('_static/pyamff_logo.png', 1) }}" alt="PyAMFF logo"style="position:relative; left: -240px ; top: 0px"/></a></li>
        {%- endblock %}

    <!-- <li> {{ reldelim1 }} <a href="{{ pathto('download') }}">Download</a>{{ reldelim1 }}</li> -->
        <!-- <li> {{ reldelim1 }} <a href="{{ pathto('setups/setups') }}">Setups</a>{{ reldelim1 }}</li> -->
        <!-- <li> {{ reldelim1 }} <a href="{{ pathto('tutorials/tutorials') }}">Tutorials</a>{{ reldelim1 }}</li> -->
        <!-- <li> {{ reldelim1 }} <a href="{{ pathto('documentation/documentation') }}">Documentation</a>{{ reldelim1 }}</li> -->
        <!-- <li> {{ reldelim1 }} <a href="{{ pathto('performance') }}">Performance</a>{{ reldelim1 }}</li> -->
        <!-- <li> {{ reldelim1 }} <a href="{{ pathto('faq') }}">FAQ</a>{{ reldelim1 }}</li> -->
<!--        <li> {{ reldelim1 }} <a href="{{ pathto('contents') }}">Contents</a>{{ reldelim1 }}</li> -->
        <!-- <li> {{ reldelim1 }} <a href="{{ pathto('genindex') }}">Index</a>{{ reldelim1 }}</li> -->

        {%- for parent in parents %}
          <li><a href="{{ parent.link|e }}" accesskey="U">{{ parent.title }}</a>{{ reldelim1 }}</li>
        {%- endfor %}
        {%- block relbaritems %}
    {% endblock %}

      </ul>
    </div>
{%- endmacro %}
{%- macro sidebar() %}
      {%- if builder != 'htmlhelp' %}
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
          {%- block sidebartoc %}

          <h3><a href="{{ pathto('index') }}">PyAMFF</a></h3>
      <ul class="this-page-menu">
        <li><a href="{{ pathto('tutorials') }}">Tutorials</a></li>
        <li><a href="{{ pathto('documentation') }}">Documentation</a></li>
      </ul>
      <h3>Development</h3>
      
          {%- if display_toc and current_page_name not in ['index', 'contents'] %}
            <h3>This page</h3>
            {{ toc }}
          {%- endif %}

          {%- endblock %}

          {%- block sidebarrel %}
          {%- if prev %}
      <!-- Where does one find this "prev" variable?
      
            <h4>Previous topic</h4>
            <p class="topless"><a href="{{ prev.link|e }}"
            title="previous chapter">{{ prev.title }}</a></p>
        -->
          {%- endif %}
          {%- if next %}

          {%- endif %}
          {%- endblock %}
          {%- if customsidebar %}
          {{ rendertemplate(customsidebar) }}
          {%- endif %}

          {%- if sourcename %}
            <ul class="this-page-menu">
            {%- if builder == 'web' %}
              <li><a href="#comments">Comments ({{ comments|length }} so far)</a></li>
              <li><a href="{{ pathto('@edit/' + sourcename)|e }}">Suggest Change</a></li>
              <li><a href="{{ pathto('@source/' + sourcename)|e }}">Show Source</a></li>
            {%- elif builder == 'html' %}
              <li><a href="{{ pathto('_sources/' + sourcename, true)|e }}">Page Source</a></li> <!-- label changed from "Show source" to avoid confusion with the source code svn link -->
            {%- endif %}
            </ul>
          {%- endif %}

        </div>
      </div>
      {%- endif %}
{%- endmacro -%}

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {%- if builder != 'htmlhelp' %}
      {%- set titlesuffix = " &mdash; " + docstitle %}
    {%- endif %}
    <title>{{ title|striptags }}{{ titlesuffix }}</title>
    {%- if builder == 'web' %}
    <link rel="stylesheet" href="{{ pathto('index') }}?do=stylesheet{%
      if in_admin_panel %}&admin=yes{% endif %}" type="text/css" />
    {%- for link, type, title in page_links %}
    <link rel="alternate" type="{{ type|e(true) }}" title="{{ title|e(true) }}" href="{{ link|e(true) }}" />
    {%- endfor %}
    {%- else %}
    <link rel="stylesheet" href="{{ pathto('_static/' + styles[-1], 1) }}" type="text/css" />
    <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
    {%- endif %}
    {%- if builder != 'htmlhelp' %}
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
          URL_ROOT:    '{{ pathto("", 1) }}',
          VERSION:     '{{ release }}',
          COLLAPSE_MODINDEX: false,
          FILE_SUFFIX: '{{ file_suffix }}'
      };
    </script>
    {%- for scriptfile in script_files %}
    <script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}
    {%- if use_opensearch %}
    <link rel="search" type="application/opensearchdescription+xml"
          title="Search within {{ docstitle }}"
          href="{{ pathto('_static/opensearch.xml', 1) }}"/>
    {%- endif %}
    {%- if favicon %}
    <link rel="shortcut icon" href="{{ pathto('_static/favicon.ico', 1) }}"/>
    {%- endif %}
    {%- endif %}
{%- block rellinks %}
    {%- if hasdoc('about') %}
    <link rel="author" title="About these documents" href="{{ pathto('about') }}" />
    {%- endif %}
    <link rel="contents" title="Global table of contents" href="{{ pathto('contents') }}" />
    <link rel="index" title="Global index" href="{{ pathto('genindex') }}" />
    <link rel="search" title="Search" href="{{ pathto('search') }}" />
    {%- if hasdoc('copyright') %}
    <link rel="copyright" title="Copyright" href="{{ pathto('copyright') }}" />
    {%- endif %}
    <link rel="top" title="{{ docstitle }}" href="{{ pathto('index') }}" />
    {%- if parents %}
    <link rel="up" title="{{ parents[-1].title|striptags }}" href="{{ parents[-1].link|e }}" />
    {%- endif %}
    {%- if next %}
    <link rel="next" title="{{ next.title|striptags }}" href="{{ next.link|e }}" />
    {%- endif %}
    {%- if prev %}
    <link rel="prev" title="{{ prev.title|striptags }}" href="{{ prev.link|e }}" />
    {%- endif %}
{%- endblock %}
{%- block extrahead %}{% endblock %}
  </head>
  <body>

{%- block relbar1 %}{{ relbar() }}{% endblock %}

{%- block sidebar1 %}{# possible location for sidebar #}{% endblock %}

{%- block document %}
    <div class="document">
      <div class="documentwrapper">
      {%- if builder != 'htmlhelp' %}
        <div class="bodywrapper">
      {%- endif %}
          <div class="body">
            {% block body %}{% endblock %}
          </div>
      {%- if builder != 'htmlhelp' %}
        </div>
      {%- endif %}
      </div>
{%- endblock %}

{%- block sidebar2 %}{{ sidebar() }}{% endblock %}
      <div class="clearer"></div>
    </div>

<!-- 
Remove footer.  Sphinx will actually parse anything with curly braces even if
it is inside a comment.  The footer can be added by removing this comment
and replacing [] by corresponding curly brackets
[%- block relbar2 %][[ relbar() ]][% endblock %] 
-->

{%- block footer %}
    <div class="footer">
<!--     {%- if builder == 'html' %}
      <div class="sidebarfooter">
        <a href="http://validator.w3.org/check?uri=http://wiki.fysik.dtu.dk/gpaw/{{ pagename + file_suffix }}">
          <img src="http://www.w3.org/Icons/valid-xhtml10"
            alt="Valid XHTML 1.0 Transitional" height="31" width="88" />
        </a>
      </div>
    {%- endif %}
    {%- if hasdoc('copyright') %}
      &copy; <a href="{{ pathto('copyright') }}">Copyright</a> {{ copyright }}.
    {%- else %}
      &copy; Copyright {{ copyright }}.
    {%- endif %}
    {%- if last_updated %}
      Last updated on {{ last_updated }}.
    {%- endif %}
    {%- if show_sphinx %}
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}.
    {%- endif %}-->
    </div>
{%- endblock %}
  </body>
</html>
